<div class="w-full max-w-lg p-8 bg-white rounded-lg shadow-md dark:bg-gray-800 mx-auto mt-16">
  <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-6 text-center">Add New Record</h2>

  <form [formGroup]="form" (ngSubmit)="addRecord()" class="space-y-4">
    <div class="grid grid-cols-2 gap-x-4">
      <mat-form-field class="col-span-2">
        <mat-label>Select Entry Type</mat-label>
        <mat-select formControlName="entryType" required>
          <mat-option value="inward">Inward</mat-option>
          <mat-option value="outward">Outward</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-span-2">
        <mat-label>Select Item</mat-label>
        <mat-select formControlName="item" required>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Purchare Quantity</mat-label>
        <input matInput type="number" placeholder="Enter quantity" required class="no-stepper" formControlName="purchaseQty">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Total Purchase Amount</mat-label>
        <input matInput type="number" placeholder="Enter price" required class="no-stepper" formControlName="totalPrice">
          <!-- <mat-icon matSuffix *ngIf="form">attach_money</mat-icon> -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sell Quantity</mat-label>
        <input matInput type="number" placeholder="Enter Selling Qty" required class="no-stepper" formControlName="sellQty">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Sell Rate</mat-label>
        <input matInput type="number" placeholder="Enter Selling Rate" required class="no-stepper" formControlName="sellRate">
          <!-- <mat-icon matSuffix *ngIf="form">attach_money</mat-icon> -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Unit</mat-label>
        <mat-select formControlName="item" required>
          <mat-option value="kg">Kg</mat-option>
          <mat-option value="ton">Ton</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Carry Forward</mat-label>
        <input matInput type="number" placeholder="Enter Carry Forward Qty" required class="no-stepper" formControlName="carryForward">
          <!-- <mat-icon matSuffix *ngIf="form">attach_money</mat-icon> -->
      </mat-form-field>
    </div>


  </form>
</div>