

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #141c2d, #111827);
  background-attachment: fixed;
  color: whitesmoke;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-floating-label
{
  color: #ffffff !important;
}

.mdc-text-field{
    background: transparent !important;
    border: 1px solid #f5f5f5;
    border-radius: 8px !important;
    color: whitesmoke;
}

.mat-mdc-select-arrow
{
  color: #ffffff !important;
}

.mdc-menu-surface
{
  background: #3d4659 !important;
  border-radius: 8px !important;
}

.cdk-overlay-pane{
  background: transparent;
}

.mdc-list-item
{
  color: whitesmoke !important;
}

.mdc-list-item__primary-text
{
  color: whitesmoke !important;
}

.mat-mdc-option-active
{
  background: rgb(133 122 159 / 39%) !important;
}

.mat-mdc-select-value{
  color: white ;
}

// .mdc-text-field--focused
// {
//   border-radius: 8px 8px 0 0 !important;
// }
.mdc-text-field__input
{
  color: whitesmoke !important;
}
.mdc-text-field__input::placeholder
{
  color: #ffffff !important;
}
.mdc-text-field__input:focus
{
  color: #ffffff !important;
}
.mdc-text-field__input:focus-visible
{
  color: #ffffff !important;
}
.mdc-text-field__input:focus-visible::placeholder
{
  color: #ffffff !important;
}

.mat-input-element
{
  background: transparent !important;
}

/* Hide stepper for all browsers */
.no-stepper::-webkit-outer-spin-button,
.no-stepper::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-stepper {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Standard */
}

input
{
  background: transparent !important;
}

.table-header-row
{
  // background: linear-gradient(45deg, #25205e, #3e3982, #25205e) !important;
  // background: linear-gradient(45deg, #4f5d73, #374151, #4f5d73) !important;
  background: linear-gradient(45deg, #374151, #4f5d73, #374151) !important;
  border-radius: 12px 12px 0px 0px !important;
}

tbody
{
  border-radius: 12px;
  // background: linear-gradient(45deg, #2a2453, #2f3b5a, #2a2453) !important;
  // background: linear-gradient(45deg, #2c3a4e, #1F2937, #2a384b) !important;
  background: transparent !important;
}

thead
{
  border-radius: 12px 12px 0px 0px !important;
  // background: linear-gradient(45deg, #2c3a4e, #1F2937, #2a384b) !important;
  background: linear-gradient(45deg, #374151, #4f5d73, #374151) !important;
}

.main-div
{
  margin-top: 20px;
  width: 100%;
  justify-items: center;
}

// th
// {
//   background: linear-gradient(45deg, #a3a2a2, transparent);
//   border-radius: 12px 12px 0px 0px;
// }

.mdc-data-table__cell
{
  border-top: 1px #7c7c83 solid !important;
  border-bottom: none !important;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    border-bottom-width: 1px;
    /* border-bottom-style: solid; */
    border-bottom: 1px #33328c solid;
}

.mat-mdc-table
{
  background: linear-gradient(45deg, #1F2937, #2c3a4e, #1F2937) !important;
}

.mdc-data-table__header-row
{
  border-radius: 12px 12px 0px 0px !important;
}

tr
{
  background: transparent !important;
}